
// Variables
// ---------------------------------------------------------------


// Sizes

@basic-gutter: 3rem;
@container-width: 1110px;


// Breakpoints

@phone: ~"(min-width: 375px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1024px)";