#hero {
    padding-top: 18rem;
    padding-bottom: @basic-gutter;
    display: flex;
    align-items: center;

    @media @desktop {
        padding-top: 0;
        height: 100vh;
    }
}


.hero-image {
    background-image: url("../images/doctors.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: none;

    @media @tablet {
        display: block;
    }
}