
.products {
    [class*="col-"]:last-child {
        padding-right: @basic-gutter;
    }
}

.product-item {
    margin-bottom: @basic-gutter * 2;

    img {
        border: 1px solid @color-gray-light;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }

}

.intake-results {
    margin: (@basic-gutter * 2) 0 @basic-gutter 0;
    padding: @basic-gutter;
    border: 4px solid @color-gray-light;
    border-radius: 9px;
}